# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.pytest_cache/

# Entornos virtuales
venv/
env/
.venv/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Datos pesados (NO subir a GitHub)
data/raw/*.csv
data/raw/*.zip
data/raw/*.xlsx
data/processed/*.parquet
data/processed/*.csv
!data/raw/.gitkeep
!data/processed/.gitkeep

# Sistema
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# Streamlit
.streamlit/secrets.toml
